@mixin center($display: flex, $align-items: center, $justify-content: center) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin column($display: flex, $flex-direction: column) {
  display: $display;
  flex-direction: $flex-direction;
}

.wrapper {
  @include center(flex, center, space-between);
  gap: 40px;

  .fields {
    width: 80%;
    @include column();
    gap: 10px;

    .field {
      @include center(flex, center, flex-start);
      gap: 5px;

      .text {
        width: 40px;
        color: #fff;
      }

      .input {
        width: 100%;
        padding: 5px;
        color: #302b63;
        font-weight: 500;
        border-radius: 5px;
      }
    }
  }

  .buttons {
    width: 20%;

    .button {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      background: #fff;
      border: 1px solid #fff;

      &:hover {
        color: #fff;
        background: #302b63;
      }

      &:active {
        background: #24243e;
      }
    }
  }
}
